# RABBIT HOST CONFIGURATIONS
RABBIT_HOST=
RABBIT_PORT=
RABBIT_USERNAME=
RABBIT_PASSWORD=
RABBIT_VHOST=
#-----------------------------


# APPLICATION SPECIFIC
NOTIFICATION_EXCHANGE=
EMAIL_ROUTING=
EMAIL_QUEUE_NAME=


MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=


SERVER_PORT=