services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-container
    ports:
      - "${RABBIT_EXTERNAL_PORT}:${RABBIT_INTERNAL_PORT}"
      - "15672:15672" 
    environment:
      RABBITMQ_NODE_PORT: ${RABBIT_INTERNAL_PORT}
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping", "--port", "${RABBIT_INTERNAL_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

    networks:
      - notification-network

  notification-service:
    build:
      context: . 
    container_name: notification-container
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq 
      SPRING_RABBITMQ_PORT: ${RABBIT_INTERNAL_PORT} 
      
      # PASSING ALL THE REQUIRED CREDENTIALS TO NOTIFICATION SERVICE CONTAINER EXPLITCLY 
      SPRING_RABBITMQ_USERNAME: ${SPRING_RABBITMQ_USERNAME}
      SPRING_RABBITMQ_PASSWORD: ${SPRING_RABBITMQ_PASSWORD}
      
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}

      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}

      SERVER_PORT: ${SERVER_PORT}
      RABBIT_QUEUE_NAME: ${RABBIT_QUEUE_NAME}
    depends_on:
      rabbitmq:
        condition: service_healthy 
    networks:
      - notification-network

networks:
  notification-network:
    driver: bridge
