<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h2 {
            font-size: 0.8rem;
            font-weight: bold;    
        }
        .content-area{
            background: rgb(255, 55, 0);
        }
    </style>
</head>


<body>
    <div class="box">
        <h2>Password Reset</h2>
        <p>Dear Customer,</p>
        <p class="content-area">Please click on this link: 
            <li>
                <span th:text="${data.resetLink}">Passwrod reset link</span>
            </li>
            to reset your Flash⚡Auth login password.
        </p>
        
        <p>This link will be expired in next 10 minutes</p>
        
        <p>Good Luck!</p>
    </div>
</body>
</html>