<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flash⚡Auth</title>
</head>
<body style="margin: 0; padding: 0; background-color: #050a14; font-family: 'Segoe UI', Helvetica, Arial, sans-serif;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #050a14;">
        <tr>
            <td align="center" style="padding: 40px 10px;">
                <div style="max-width: 600px; background-color: #0a1122; border: 1px solid #1a243a; border-radius: 12px; padding: 40px; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.5);">
                    
                    <div style="margin-bottom: 25px;">
                        <span style="color: #ff6b00; font-size: 40px; font-weight: bold;">⚡</span>
                    </div>

                    <h2 style="color: #ffffff; font-size: 28px; margin-bottom: 10px; letter-spacing: -0.5px;" th:text="${data.userName}">user name</h2>
                    <p style="color: #a0aec0; font-size: 16px; margin-bottom: 30px;">You have successfully signed up</p>

                    <div style="background: #111b33; border-radius: 8px; padding: 20px; margin-bottom: 30px; text-align: left; border-left: 4px solid #ff6b00;">
                        <p style="margin: 0 0 10px 0; color: #ffffff; font-size: 14px;  letter-spacing: 1px; opacity: 0.7;">To proceed with flash auth, your next step is to update your credentials</p>
                        <div style="margin: 10px 0;">
                            <a th:href="@{https://flashauth.connectjagwar.online/update-credentials}" 
                                href="https://flashauth.connectjagwar.online/update-credentials" 
                                style="color: #ff6b00; font-size: 18px; font-weight: bold; text-decoration: underline; display: inline-block;">
                                UPDATE CREDENTIALS
                            </a>
                        </div>
                    </div>


                    <div style="margin-top: 40px; padding-top: 20px; border-top: 1px solid #1a243a;">
                        <p style="color: #718096; font-size: 13px; line-height: 1.5;">
                            Thank you for choosing <br>
                            <strong style="color: #ffffff;">Flash <span style="color: #ff6b00;">⚡</span> Auth</strong>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>